<div class="share-file">
  <app-list-find [tableFindModel]="tableFindModel"></app-list-find>
  <!-- 广告-->
  <div class='footer'>
    <div class='footer-head'>精彩电影推荐</div>
    <div class='footer-content'>
      <div class='footer-content__play'>
        <ng-container *ngFor="let item of recommendMovie">
          <img class='recommend-element' src="{{item.name}}" alt="加载失败" (click)="playMovie(item.value)"/>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- 提取码-->
  <nz-modal [(nzVisible)]="isDrawCodeVisible" nzTitle="提取码" (nzOnCancel)="isDrawCodeVisible = false"
            (nzOnOk)="verifyDrawCode()">
    <nz-form-item>
      <nz-form-label nzRequired>提取码</nz-form-label>
      <nz-form-control nzErrorTip='提取码，不能为空'>
        <input nz-input placeholder="提取码" [(ngModel)]="drawCode"/>
      </nz-form-control>
    </nz-form-item>
  </nz-modal>
  <!-- 选择目录-->
  <nz-modal [(nzVisible)]="selectFolder.isVisible" nzTitle="选择目录"
            (nzOnCancel)="selectFolder.isVisible = false;"
            [nzBodyStyle]="{paddingTop:'0px',padding:'5px'}"
            (nzOnOk)="saveFolderFile()" [nzOkText]="selectFolder.okText"
            [nzOkDisabled]="appService.getLoading()">
    <div class="select-folder-modal">
      <app-list-find [tableFindModel]="tableFindModel1"></app-list-find>
    </div>
  </nz-modal>
  <!--  音乐播放器-->
  <nz-modal [(nzVisible)]="showMusicPlay" nzTitle="音乐播放器"
            [nzBodyStyle]="{padding:'10px'}"
            (nzOnCancel)="showMusicPlay = false"
            [nzMaskClosable]="false"
            [nzCancelText]="null"
            (nzOnOk)="showMusicPlay = false;musicPlayerComponent.stop(false)"
            nzOkText="关闭">
    <app-music-player></app-music-player>
  </nz-modal>
  <!--  图片-->
  <div id="image" style="display: none"></div>
  <!--  视频-->
  <div class='video-play' *ngIf="videoPlay.isVisible" (click)='videoPlay.isVisible = false'>
    <video src="{{videoPlay.url}}" autoplay controls="controls" class="video" id='videoPlayer'>
      您的浏览器不支持 video 标签。
    </video>
  </div>
  <!--  创建目录-->
  <app-create-folder (createSuccess)="createFolderOk()"></app-create-folder>
  <!-- 悬着磁盘-->
  <nz-modal [(nzVisible)]="isDiskVisible" nzTitle="选择磁盘"
            (nzOnCancel)="isDiskVisible = false"
            [nzOkDisabled]="diskId==shareDiskId"
            (nzOnOk)="confirmDisk()">
    <app-overall-select [openLabel]="true" [labelName]="'磁盘'"
                        (onSelected)="diskSelectedFun($event)"></app-overall-select>
  </nz-modal>
</div>

